<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="back_to_back" value="52" />
    <add key="bumpiness" value="-24" />
    <add key="bumpiness_sq" value="-7" />
    <add key="height" value="-39" />
    <add key="top_half" value="-150" />
    <add key="top_quarter" value="-511" />
    <add key="jeopardy" value="-5" />
    <add key="cavity_cells" value="-158" />
    <add key="cavity_cells_sq" value="-7" />
    <add key="overhang_cells" value="-48" />
    <add key="overhang_cells_sq" value="1" />
    <add key="covered_cells" value="-17" />
    <add key="covered_cells_sq" value="-1" />
    <add key="well_depth" value="57" />
    <add key="max_well_depth" value="17" />
    <add key="b2b_clear" value="104" />
    <add key="clear1" value="-143" />
    <add key="clear2" value="-100" />
    <add key="clear3" value="-958" />
    <add key="clear4" value="390" />
    <add key="tspin1" value="121" />
    <add key="tspin2" value="410" />
    <add key="tspin3" value="602" />
    <add key="mini_tspin1" value="-158" />
    <add key="mini_tspin2" value="-93" />
    <add key="perfect_clear" value="999" />
    <add key="combo_garbage" value="900" />
    <add key="move_time" value="-3" />
    <add key="wasted_t" value="-152" />
    <add key="tslot" value="8,148,192,407"/>
    <add key="well_column" value="20,23,20,50,59,21,59,10,-10,24"/>
    <add key="mode" value="0G"/>
    <add key="use_hold" value="0"/>
    <add key="min_nodes" value="0"/>
    <add key="pcloop" value="1"/>
    <add key="use_bag" value="1"/>
    <add key="threads" value="1"/>

  </appSettings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>